.text-color{
    color: hsl(166, 100%, 37%);
    color: hsl(241, 100%, 89%);
    color:  hsl(224, 30%, 27%);
    color:  hsla(256, 72%, 46%, 1);
    color: hsla(241, 72%, 46%, 0);
    color: hsl(252, 100%, 67%);
    color: hsl(241, 81%, 54%);
    color: hsl(221, 100%, 96%);
    color: hsl(0, 100%, 67%);
    color:  hsl(39, 100%, 56%);
    color: hsl(166, 100%, 37%);
    color: hsl(234, 85%, 45%);
}
.width-375{
    width: 375px;
}
.height-300{
    height: 300px;
}
.bg-color-white{
    background-color: hsl(0, 0%, 100%);
}
.bg-color-blue{
    background: linear-gradient(#6540FC,#332CE9);
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.font-family{
    font-family: 'Hanken Grotesk', sans-serif;
}
.font-size-18{
    font-size: 18px;
}
.font-size-14{
    font-size: 14px;
}
.text-color-lavender{
    color: hsl(241, 100%, 89%);
}
.text-color-light-grey{
    color: hsla(224, 30%, 27%,0.5);
}
.text-color-dark-grey{
    color: #4F4F5A;
}
.text-color-summary{
    color: #363C52;
}
.bg-color-violet-blue{
    background:linear-gradient(#4B23CB,#4532E8,transparent);
}
.text-color-violet-blue{
    color: #887CFF;
}
.text-color-white{
    color: white;
}
.text-color-red{
    color: hsl(0, 100%, 67%);
}
.text-color-yellow{
    color: hsl(39, 100%, 56%);
}
.text-color-green{
    color: hsl(166, 100%, 37%);
}
.text-color-blue{
    color: hsl(234, 85%, 45%);
}
.text-center{
    text-align: center;
}
.font-weight-500{
    font-weight: 500;
}
.font-weight-600{
    font-weight: 600;
}
.font-weight-800{
    font-weight: 800;
}
.font-size-50{
    font-size: 50px;
}
.width-120{
    width: 120px;
}
.height-120{
    height: 120px;
}
.flex-direction{
    flex-direction: column;
}
.align-items{
    align-items: center;
}
.border-radius{
    border-radius: 50%;
}
.margin-0{
    margin: 0px;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-bottom-5{
    margin-bottom: 5px;
}
.font-size-20{
    font-size: 20px;
}
.padding-lr-60{
    padding: 0px 60px;
}
.border-bottom-radius{
    border-radius: 0 0 30px 30px;
}
.height-100vh{
    height: 100vh;
}
.width-full{
    width: 100%;
}
.max-width-375{
    max-width: 375px;
}
.padding-left{
    padding-left: 25px;
}
.width-200{
    width: 200px;
}
.width-350{
    width: 300px;
}
.height-45{
    height: 50px;
}
.bg-reaction{
    background-color: hsla(0, 100%, 67%,0.06);
}
.bg-memory{
    background-color: hsl(39, 100%, 56%,0.06);
}
.bg-verbal{
    background-color: hsla(166, 100%, 37%, 0.06);
}
.bg-visual{
    background-color: hsla(234, 85%, 45%,0.06);
}
.border-radius-10{
    border-radius: 10px;
}
.justify-space-between{
    justify-content: space-between;
}
.gap-15{
    gap: 15px;
}
.padding-left-15{
    padding-left: 15px;
}
.padding-right-15{
    padding-right:15px ;
}
.top-left-corner-red{
    position: absolute;
    border-top-left-radius: 10px;
    border-top: 2px solid hsla(0, 100%, 67%, 0.2);
    border-left: 2px solid hsla(0, 100%, 67%, 0.2);
    width: 10px;
    height: 10px;
}
.top-left-corner-yellow{
    position: absolute;
    border-top-left-radius: 10px;
    border-top: 2px solid hsl(39, 100%, 56%,0.2);
    border-left: 2px solid hsl(39, 100%, 56%,0.2);
    width: 10px;
    height: 10px;
}
.top-left-corner-green{
    position: absolute;
    border-top-left-radius: 10px;
    border-top: 2px solid hsla(166, 100%, 37%, 0.2);
    border-left: 2px solid hsla(166, 100%, 37%, 0.2);
    width: 10px;
    height: 10px;
}
.top-left-corner-blue{
    position: absolute;
    border-top-left-radius: 10px;
    border-top: 2px solid hsla(234, 85%, 45%,0.2);
    border-left: 2px solid hsla(234, 85%, 45%,0.2);
    width: 10px;
    height: 10px;
}
.top-right-corner-yellow{
    position: absolute;
    border-top-right-radius: 10px;
    border-top: 2px solid hsl(39, 100%, 56%,0.2);
    border-right: 2px solid hsl(39, 100%, 56%,0.2);
    width: 10px;
    height: 10px;
    top: 0;
    right: 0;
}
.top-right-corner-green{
    position: absolute;
    border-top-right-radius: 10px;
    border-top: 2px solid hsla(166, 100%, 37%, 0.2);
    border-right: 2px solid hsla(166, 100%, 37%, 0.2);
    width: 10px;
    height: 10px;
    top: 0;
    right: 0;
}
.top-right-corner-blue{
    position: absolute;
    border-top-right-radius: 10px;
    border-top: 2px solid hsla(234, 85%, 45%,0.2);
    border-right: 2px solid hsla(234, 85%, 45%,0.2);
    width: 10px;
    height: 10px;
    top: 0;
    right: 0;
}
.top-right-corner-red{
    position: absolute;
    border-top-right-radius: 10px;
    border-top: 2px solid hsla(0, 100%, 67%, 0.2);
    border-right: 2px solid hsla(0, 100%, 67%, 0.2);
    width: 10px;
    height: 10px;
    top: 0;
    right: 0;
}
.bottom-right-corner-yellow{
    position: absolute;
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid hsl(39, 100%, 56%,0.2);
    border-right: 2px solid hsl(39, 100%, 56%,0.2);
    width: 10px;
    height: 10px;
    bottom: 0;
    right: 0;
}
.bottom-right-corner-blue{
    position: absolute;
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid hsla(234, 85%, 45%,0.2);
    border-right: 2px solid hsla(234, 85%, 45%,0.2);
    width: 10px;
    height: 10px;
    bottom: 0;
    right: 0;
}
.bottom-right-corner-green{
    position: absolute;
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid hsla(166, 100%, 37%, 0.2);
    border-right: 2px solid hsla(166, 100%, 37%, 0.2);
    width: 10px;
    height: 10px;
    bottom: 0;
    right: 0;
}
.bottom-right-corner-red{
    position: absolute;
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid hsla(0, 100%, 67%, 0.2);
    border-right: 2px solid hsla(0, 100%, 67%, 0.2);
    width: 10px;
    height: 10px;
    bottom: 0;
    right: 0;
}
.bottom-left-corner-yellow{
    position: absolute;
    border-bottom-left-radius: 10px;
    border-bottom: 2px solid hsl(39, 100%, 56%,0.2);
    border-left: 2px solid hsl(39, 100%, 56%,0.2);
    width: 10px;
    height: 10px;
    bottom: 0;
    left: 0;
}
.bottom-left-corner-blue{
    position: absolute;
    border-bottom-left-radius: 10px;
    border-bottom: 2px solid hsla(234, 85%, 45%,0.2);
    border-left: 2px solid hsla(234, 85%, 45%,0.2);
    width: 10px;
    height: 10px;
    bottom: 0;
    left: 0;
}
.bottom-left-corner-green{
    position: absolute;
    border-bottom-left-radius: 10px;
    border-bottom: 2px solid hsla(166, 100%, 37%, 0.2);
    border-left: 2px solid hsla(166, 100%, 37%, 0.2);
    width: 10px;
    height: 10px;
    bottom: 0;
    left: 0;
}
.bottom-left-corner-red{
    position: absolute;
    border-bottom-left-radius: 10px;
    border-bottom: 2px solid hsla(0, 100%, 67%, 0.2);
    border-left: 2px solid hsla(0, 100%, 67%, 0.2);
    width: 10px;
    height: 10px;
    bottom: 0;
    left: 0;
}
.button-style{
    border: none;
    width: 90%;
    height: 50px;
    border-radius: 30px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    background-color: #303B59;
}
@media only screen and (min-width: 640px){
    .ds\:flex-direction{
        flex-direction: row;
    }
    .ds\:justify-content{
        justify-content: center;
    }
    .ds\:flex{
        display: flex;
    }
    .ds\:max-width{
        max-width: 600px;
    }
    .ds\:width{
        width: 100%;
    }
    .ds\:height{
        height: 400px;
    }
    .ds\:gap{
        gap: 15px;
    }
    .ds\:width-140{
        width: 140px;
    }
    .ds\:height-140{
        height: 140px;
    }
    .ds\:gap-10{
        gap: 10px;
    }
    .ds\:padding-lr-50{
        padding: 0px 50px;
    }
    .ds\:border-top-radius{
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .ds\:border-radius-trbr{
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .ds\:box-shadow{
        box-shadow: 8px 8px 10px hsla(241, 100%, 89%,0.4);;
    }
}