.text-color{
    color: hsl(166, 100%, 37%);
    color: hsl(241, 100%, 89%);
    color:  hsl(224, 30%, 27%);
    color:  hsla(256, 72%, 46%, 1);
    color: hsla(241, 72%, 46%, 0);
    color: hsl(252, 100%, 67%);
    color: hsl(241, 81%, 54%);
    color: hsl(221, 100%, 96%);
}
.width-375{
    width: 375px;
}
.height-300{
    height: 300px;
}
.bg-color-white{
    background-color: hsl(0, 0%, 100%);
}
.bg-color-blue{
    background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.font-family{
    font-family: 'Hanken Grotesk', sans-serif;
}
.font-size-18{
    font-size: 18px;
}
.font-size-14{
    font-size: 14px;
}
.text-color-lavender{
    color: hsl(241, 100%, 89%);
}
.bg-color-violet-blue{
    background:linear-gradient(hsla(256, 72%, 46%),hsl(241, 81%, 54%),transparent);
}
.text-color-violet-blue{
    color: hsla(256, 72%, 46%, 1);
}
.text-color-white{
    color: white;
}
.text-center{
    text-align: center;
}
.font-weight{
    font-weight: 500;
}
.font-size-50{
    font-size: 50px;
}
.width-120{
    width: 120px;
}
.height-120{
    height: 120px;
}
.flex-direction{
    flex-direction: column;
}
.align-items{
    align-items: center;
}
.border-radius{
    border-radius: 50%;
}
.margin-0{
    margin: 0px;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-bottom-5{
    margin-bottom: 5px;
}
.font-size-20{
    font-size: 20px;
}
.padding-lr-60{
    padding: 0px 60px;
}